$primary-color: #000;
$secondary-color: #fff;
$grey-color: #979fa4;
$red-color: #e21f25;
$max-width: 1200px;

@font-face {
    font-family: 'payfair';
    src: url('/fonts/payfair/payfair-regular.eot');
}
@font-face {
    font-family: 'monserrat';
    src: url('/fonts/montserrat/Montserrat_Font/Montserrat-Regular.ttf');
}

@mixin screen($size) {
    @if $size == "xs" {
        @media (max-width: 575px) {
            @content;
        }
    } @else if $size == "sm" {
        @media (max-width: 767px) {
            @content;
        }
    } @else if $size == "md" {
        @media (max-width: 991px) {
            @content;
        }
    } @else if $size == "lg" {
        @media (max-width: 1199px) {
            @content;
        }
    } @else if $size == "xl" {
        @media (max-width: 1599px) {
            @content;
        }
    }
}

@mixin container {
    margin: 0 auto;
    max-width: $max-width;
}


* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'monserrat', sans-serif;
}

body{
    #open-form{
        z-index: 10;
        position: fixed;
        right: -48px;
        cursor: pointer;
        top: 18.5rem;
        font-weight: bold;
        text-transform: uppercase;
        font-family: "monserrat", sans-serif;
        padding: .6rem 1rem;
        background-color: $primary-color;
        color: $secondary-color;
        transform: rotate(-90deg);
        @include screen(md) {
            top: 14rem;
        }
    }
    .fixed-form{
        display: none;
        opacity: 0;
        position: fixed;
        width: 100%;
        height: 100%;
        background: #65676496;
        z-index: 10;
        justify-content: right;
        align-items: flex-start;
        transition: all 2s;
        @include screen("sm") {
            align-items: center;
        }
        .container-form{
            transition: all 2s;
            transform: translateX(100%);
            margin-top: 10rem;
            padding: 3rem;
            width: fit-content;
            background-color: #1e1e1e;
            position: relative;
            @include screen("sm") {
                margin-top: 0;
            }
            .transform-book{
                position: absolute;
                left: -85px;
                cursor: pointer;
                top: 140px;
                font-weight: bold;
                text-transform: uppercase;
                font-family: "monserrat", sans-serif;
                padding: .6rem 1rem;
                background-color: $primary-color;
                color: $secondary-color;
                transform: rotate(-90deg);
            }
            .close-form{
                position: absolute;
                top: 1.5rem;
                left: 1rem;
                cursor: pointer;
                font-size: 2rem;
                color: #fff;
            }
            .title-form{
                font-size: 2rem;
                font-family: "payfair";
                color: #fff;
                font-weight: 200;
                text-align: center;
                margin: 1rem 0 3rem;
            }
            .form-complete{
                display: flex;
                flex-direction: column;
                .label-input{
                    text-transform: uppercase;
                    font-size: 1rem;
                    font-family: "payfair", sans-serif;
                    color: #fff;
                    font-weight: 600;
                    margin-bottom: .5rem;
                    &::placeholder{
                        font-family: "monserrat", sans-serif;
                        font-weight: 600;
                        color: $grey-color;
                    }
                }
                .container-icon{
                    position: relative;
                    .icono{
                        position: absolute;
                        content: url(./../images/svgs/calendar.svg);
                        width: 20px;
                        height: 20px;
                        z-index: 2;
                        right: 7px;
                        top: 7px;
                    }
                }
                .options-form{
                    width: 100%;
                    margin-bottom: 1.5rem;
                    padding: .6rem 1rem;
                    border: 0;
                    background-color: $secondary-color;
                    font-family: "monserrat", sans-serif;
                    font-weight: 400;
                    position: relative;
                    color: $grey-color;
                }
                .icon-select{
                    width: 48%;
                    position: relative;
                    &::before{
                        position: absolute;
                        content: url(./../images/svgs/dropdown_arrow.svg);
                        width: 20px;
                        height: 20px;
                        z-index: 2;
                        right: 7px;
                        top: 7px;
                    }
                }
                .container-guest{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .options-form{
                        width: 100%;
                        appearance: none;
                    }
                }
                
            }
        }
        .get-ready{
            font-family: "payfair";
            max-width: 220px;
            margin: 0 auto 2rem;
            color: $grey-color;
            text-align: center;
        }
        .lets-go{
            cursor: pointer;
            display: block;
            background-color: transparent;
            border: 2px solid $red-color;
            color: $red-color;
            margin: 0 auto;
            padding: .2rem 1rem;
            margin-bottom: 4rem;
            border-radius: 3px;
            font-family: "payfair";
            font-size: 1.4rem;
        }
        .your-group{
            text-decoration: none;
            color: $grey-color;
            font-weight: bold;
            font-family: "monserrat" sans-serif;
            .arrow{
                margin-left: 1rem;
            }
        }
    }
    .container-first-section{
        position: relative;
        background: $primary-color;
        padding: 5rem;
        min-height: calc(80vh + 150px);
        @include screen(md){
            min-height: calc(80vh - 100px);
            padding: 2rem;
        }
        #container-carrousel{
            width: 100%;
            left: 0;
            top: 0;
            position: absolute;
            min-height: calc(100% - 150px);
            max-height: calc(100% - 150px);
            overflow: hidden;
            @include screen(md){
                min-height: calc(40% - 100px);
            }
            .carrousel{
                max-width: 100vw;
                display: flex;
                height: 100%;
                transform: translateX(0vw);
                transition: all 2s;
                position: relative;
                .image-carousel{
                    min-width: 100vw;
                    object-fit: cover;
                    max-height: calc(100% - 150px);
                }
                .arrow-left{
                    z-index: 100;
                    position: absolute;
                    right: 30px;
                    top: 25%;
                    cursor: pointer;
                    @include screen(md){
                        
                        right: 10px;
                        top: 45%;
                        img{
                            width: 20px;
                        }
                    }
                }
                .arrow-right{
                    z-index: 100;
                    position: absolute;
                    left: 30px;
                    top: 25%;
                    cursor: pointer;
                    @include screen(md){
                        left: 10px;
                        top: 45%;
                        img{
                            width: 20px;
                        }
                    }
                }
            }
        }
        .container-name{
            @include container;
            position: relative;
            padding: 2.5rem;
            background: $secondary-color;
            @include screen(md){
                padding: 1rem;
            }
            .name-site{
                font-size: 11px;
                @include screen(md){
                    display: none;
                }
            }
            .logo{
                top: -40px;
                width: 200px;
                left: 0;
                right: 0;
                margin: 0 auto;
                position: absolute;
                @include screen(md){
                    width: 70px;
                    top: -20px
                }
            }
        }
        .container-history{
            @include container;
            background-color: $primary-color;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 3rem 0;
            text-align: center;
            color: $secondary-color;
            @include screen(md){
                padding: 1rem 0;
            }
            .subtitle{
                font-size: 40px;
                font-family: 'payfair';
                font-weight: 400;
                @include screen(md){
                    font-size: 20px;
                }
            }
            .subtitle-2{
                font-size: 30px;
                font-family: 'payfair';
                font-weight: 400;
                @include screen(md){
                    font-size: 15px;
                }
            }
            .paragraph{
                margin-top: 2rem;
                padding: 0 12rem;
                font-size: 14px;
                @include screen(md){
                    padding: 0 2rem;
                    font-size: 11px;
                }
            }
        }
    }
    .container-second-section{
        background: #f1f3f2;
        padding: 5rem 0;
        @include screen(md){
            padding: 2rem 0 0;
        }
        .background{
            @include container;    
            display: flex;
            justify-content: space-between;
            @include screen(md){
                flex-direction: column;
                text-align: center;
            }
            .container-text{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .accommodations{
                    font-size: 17px;
                    color: #282930;
                    display: block;
                    text-align: center;
                    text-transform: uppercase;
                    font-family: "monserrat";
                }
                .hyper-text{
                    color: #979fa4;
                    font-size: 40px;
                    font-family: 'monserrat';
                    font-weight: bold;
                    margin-bottom: -1rem;
                    @include screen(md){
                        margin-bottom: 1rem;
                        font-size: 20px;
                        margin-top: 1rem;
                        padding: 0 1rem;
                    }
                }
                .informative-text{
                    color: #282930;
                    font-size: 14px;
                    font-family: 'monserrat';
                    font-weight: 400;
                    padding-right: 12rem;
                    margin-bottom: 2rem;
                    @include screen(md){
                        margin-bottom: 1rem;
                        padding: 0;
                    }
                }
                .view-more{
                    font-weight: bold;
                    text-decoration: none;
                    width: fit-content;
                    font-family: 'monserrat';
                    border: 2px solid $red-color;
                    padding: 0.4rem 1.2rem;
                    text-transform: uppercase;
                    color: $red-color;
                    @include screen(md){
                        margin: 0 auto 2rem;
                    }
                }
            }
        }
    }
    .container-third-section{
        @include container;
        padding: 5rem 0;
        background: #fff;
        @include screen(md){
            padding: 2rem 0;
        }
        .title-section{
            margin-bottom: 3rem;
            text-align: center;
            display: block;
            @include screen(md){
                margin-bottom: 2rem;
            }
        }
        .container-cards{
            display: flex;
            justify-content: space-evenly;
            @include screen(md){
                flex-wrap: wrap;
                .event{
                    margin-bottom: 1rem;
                    width: 100%;
                }
            }
            .card{
                position: relative;
                .date-event{
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: #282930;
                    color: $secondary-color;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 3 px .5rem;
                    .date{
                        font-size: 3rem;
                        font-weight: bold;
                        font-family: "monserrat", sans-serif;
                        padding-left: 1rem;
                    }
                    .mounth{
                        transform: rotate(-90deg );
                        font-weight: bold;
                    }
                }
            }
        }
    }
    footer{
        padding: 1rem 2rem;
        background: #f1f3f2;
        .container-footer{
            @include container;
            width: 100%;
            display: flex;
            justify-content: space-between;
            @include screen(md){
                font-size: 11px;
                font-family: "monserrat";
                flex-direction: column;
                text-align: center;
            }
            .text-footer, .info-footer{
                @include screen(md){
                    font-size: 9px;
                    margin-bottom: .5rem;
                }
            }
        }
    }
}